<%- model_class = Mem -%>
<div class="page-header">
  <h1 style="text-align:center">Tabela <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

    <% @mems.each do |mem| %>
      <div class="mems">
        <h2><%= link_to mem.name, mem_path(mem) %></h2>
        <%= link_to image_tag(mem.image.url(:medium)), mem_path(mem) %>
        <p><%= link_to mem.description %></p>
      </div>
    <% end %>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mem_path,
            :class => 'btn btn-primary' %>
